body {
    background-color: #FBF3E4;
}

.streamo {
    width: 20em;
}

.search-input {
    position: relative;
    background: #C4C4C4;
    border: none;
    left: 2%;
    width: 35%;
    height: 100px;
    border-radius: 100px;
}

.account {
    position: absolute;
    width: 300px;
    height: 100px;
    right: 32%;
    border: none;
    background: #C4C4C4;
    border-radius: 10px;
}
.setting {
    position: absolute;
    width: 300px;
    height: 100px;
    right: 20%;
    border: none;
    background: #C4C4C4;
    border-radius: 10px;
}
.notification {
    position: absolute;
    width: 350px;
    height: 100px;
    right: 5%;
    border: none;
    background: #C4C4C4;
    border-radius: 10px;
}

.account-icon {
    background: #C4C4C4;
    left: -40%;
}

.account-text {
    left: 20px;
    top: 8px;
    background: #C4C4C4;
}

.menu {
    background-color: #C4C4C4;
    height: 800px;
    width: 15%;
    border-radius: 20px;
    margin-left: 2%;
}